<% include ./partials/header.ejs %>
<title>Register</title>
<link rel="stylesheet" href="../stylesheets/register.css">
<div class="register-box">
    <h2>Register</h2>
    <form action="/register" method="post">
      <input type="text" name="username" placeholder="Username" required>
      <input type="text" name="fullname" placeholder="full name" required>
      <input type="email" name="email" placeholder="Email" required>
      <input type="number" name="contact" placeholder="contact" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="submit" value="Register">
      <p class="py-2 text-sm text-white-600 mb-2">Already a user?</p>
      <div class="py-2">
        <a href="/"
           class="inline-block w-full sm:w-40 bg-blue-600 text-white px-4 py-2 text-center text-sm sm:text-base rounded hover:bg-blue-700 transition">
           Login here
        </a>
      </div>
    </form>
  </div>
  <% include ./partials/footer.ejs %>